<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weblayer.visitas" android:versionCode="11" android:versionName="2.2">

    <uses-sdk android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_weblayer" >

        <activity android:name="com.weblayer.visitas.VIEW.pesquisaActivity"
                  android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name="com.weblayer.visitas.VIEW.configActivity" />
        <activity android:name="com.weblayer.visitas.VIEW.loginActivity" />
        <activity android:name="com.weblayer.visitas.VIEW.visitaActivity" />
        <activity android:name="com.weblayer.visitas.VIEW.reagendamentoActivity" />

    </application>

</manifest>
